.filter_menu {
  width: 100%;
  border-radius: 3px;
  background: rgba(150, 150, 150, 0.3);

}

.filters_wrapper {
  padding: 15px;
  display: flex;
}

.level_filter, .type_filter, .nation_filter {
  display: flex;
  flex-direction: column;
  margin-right: 15px;

  h3 {
	color: #cdb548;
  }

  &__items {
	color: #FFFFFF;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;

	label {
	  input {
		accent-color: #333333;
		margin-right: 5px;
	  }
	}
  }
}

.clear_button {
  height: 44px;
  min-width: 190px;
  cursor: pointer;
  max-width: 300px;
  margin: 15px;

  a {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to top, #e12e00 0, #fd6200 100%);
	font-size: 16px;
	white-space: nowrap;
	font-weight: 400;
	letter-spacing: 0.32px;
	padding: 0 28px;
	color: #FFFFFF;
	text-decoration: none;
	transition: all .2s ease-in-out;

	&:hover {
	  background-size: 100% 400%;
	}
  }
}