.logo_wrapper {
  background-image: url("src/assets/Logo-MirKorabley-Kard.png");
  background-repeat: no-repeat;
  background-position-y: center;
  min-width: 150px;
  background-size: 143px;
  height: 60px;
  cursor: pointer;

  a {
    display: block;
	width: 100%;
	height: 100%;
  }
}